server {
    listen       ${NGINX_PORT};
    listen       [::]:${NGINX_PORT};
    server_name  ${NGINX_HOST};

    location / {
        root   ${ROOT_PATH};
        index  index.html;
    }
}
server {
    listen ${NGINX_PORT} default_server;
    server_name _;
    location / {
        root   /usr/share/nginx/html;
        index  index.html;
    }
}